{% extends "base.html" %}
{% block content %}
<div class="col-md-6 col-md-offset-2 col-xs-12">
	<h2 class="text-center">Edit item</h2>

	<form name="editItemForm" action="/newitem" method="post" onsubmit="return validateItemForm()" enctype="multipart/form-data">
		<div class="form-group">
			<input type="text" name="catName" id="catName" value="{{item.category.name}}" class="form-control" readonly>
		</div>

		<div class="form-group">
		    <label for="itemName">New Item</label>
		    <input type="text" class="form-control" id="itemName" aria-describedby="itemNameHelp" placeholder="New Item" name="itemName" maxlength="50" value="{{item.name}}">
		    <div class="alert alert-danger new-item-alert">
		    	<small>Name field cant be empty</small>
		    </div>
		  </div>
		<div class="form-group">
			<label for="itemDescription">Description</label>
			<textarea type="text" class="form-control" rows="5" id="itemDescription" aria-describedby="catNameHelp" name="itemDescription">{{item.description}}</textarea>
			<small id="itemDescriptionHelp" class="form-text text-muted">Required. Please provide a description</small>
			<div class="alert alert-danger new-item-desc-alert">
				<small>Name field cant be empty</small>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock %}

