.container{
    margin: auto;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.error {
    color: red;
}
label {
  display: block;
  font-size: 20px;
}
label + label {
    margin-top: 20px;
}
input[type=text] {
    width: 100%;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}
textarea {
  width: 500px;
  height: 350px;
  font-size: 17px;
  font-family: monospace;
}
.like-comment-error{
    margin-top: 1em;
}
.comment-text-area {
    width: 100%;
    height:200px;
    font-size: 17px;
    font-family: monospace
}
.comment-button{
    margin-top: 4em;
}
input[type=submit] {
  font-size: 24px;
}
.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}
.post + .post {
    margin-top: 15px;
}
.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}
.post-title {
    font-size: 24px;
    font-weight: bold;
}
.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}
.post-date-small {
    display: none;
    color: #999;
}
.post-content {
    margin-top: 5px;
}
.user_image{
    width: 27px;
    border-radius: 50%; 
}
.new-category-alert, .new-item-alert, .new-item-desc-alert, .new-item-cat-alert, .new-item-alert-iName, .new-item-alert-iDesc{
    display: none;
}
.category_grid img{
    max-width: 100%;
    min-width: 100%
}
.info-banner, .default-pic, .pic-tray{
    margin-bottom: 20px;
}
.edit-link{
    right: 0;
}
.box_grid{
    margin: 3px;
    border: solid;
}

.box_grid :hover{
    cursor: pointer;
}




@media screen and (max-width: 699px) {
    .post-date-small {
        display: block;
    }
    .post-date {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .box_grid{
        width: calc((100% - 24px)/4);
    }
    .box_grid img{
        height:120px;
    }
}


